<!DOCTYPE HTML>
<html>
    <head>
        <title>E-Destinations</title>
        <link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="recycleBack" style="font-family: Roboto; ; background-position: center; background-repeat: no-repeat; background-size:a">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href={{ url_for('htn') }}>E-Destinations</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <!-- <li><a href="{{ url_for('about') }}">About</a></li> -->
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('recycle') }}">Recycle</a></li>
            <li><a href="{{ url_for('ewaste') }}">What is E-Waste?</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
        <h1 style="text-align: center">It's never too late.</h1>
        <h4 style="text-align: center">Get in touch and learn how you can make a difference.</h4>
        <div class="row">
            <div class="col-sm-6">
                <h3 style="text-align: center; font-size: 23px; margin-top: 10px">Business</h3>
                <p style="text-align: justify">Why recycle electronics? When historians analyze us, what side do you want to be on? Stand up for the people, and show your communities that you care about more than profits, but their well-being. In today's culture, more and more people are buying ethically sourced products, so why skimp out on the other half?</p>
                <ul>
                    <li>Coporate Social Responsibility</li>
                        <ul style="margin-bottom: 10px; text-align: justify">
                            <li>Consumers care about the ethics of a company, more now than ever. Key factors today include diversity, inclusivity, and climate change. People are willing to drop more money at companies that actively demonstrate interest in the daily lives of the people it impacts.</li>
                        </ul>
                    <li>More Traffic = More Sales</li>
                        <ul style="margin-bottom: 10px; text-align: justify"><li>By hosting a community recycling drop, you increase traffic to your store everyday. There is something to be said about word of mouth. A company that already is involved with a large community is nothing new, but if people have an additional reason to visit your store and "feel good" about recycling will likely boost store sales as well. </li></ul>
                </ul>
            </div>
            <div class="col-sm-6">
                <h3 style="text-align: center; font-size: 23px;  margin-top: 10px">Individuals</h3>
                <p style="text-align: justify;">We've heard it all. It takes too long to travel to the recycling location. The dump charges me a fee to drop off my electronics. Why should I care, it doesn't affect me. But it does, and everyone has an impact on the environment, big or small. If being a positive change in the world wasn't enough, how about some money?</p>
                <ul>
                    <li>For the Family</li>
                    <ul style="margin-bottom: 10px; text-align: justify">
                        <li>Every person has the ability to make change for the better. It's the determination and passion to be a force of good and love in which that one is measured. But these results aren't 1000 years away, they're in the rear-view mirror. Make change today that will affect your family tomorrow.  </li>
                    </ul>
                    <li>Recycle = Rebate</li>
                    <ul style="margin-bottom: 10px; text-align: justify"><li>Nothing sounds better than free money. But that's what it is! Instead of tossing that phone, or those old batteries, get some money back and bring them into a recycling drop set up in a local store around you. Returning items will get those old electronics gone and get you the money you deserve. Support your local recycling centre by shopping, support the world.</li>
                    </ul>
                </ul>
            </div>
        <div class="formContact">
            <span>
            <form>
                <div class="form" style="text-align: center">
                    Send us your email and we'll get the conversation going within the next 48 hours.
                    <input model="modelNumber" type="textarea" style="padding: 5px; margin: 5px; border-radius: 10px;">
                    <input type="submit" style="padding: 5px; margin: 10px; border-radius: 10px; color:black;">
                </div>
            </form>
            </span>
            </div>
        </div>
        </div>
    </body>
</html>
