<!DOCTYPE HTML>
<html>
    <head>
        <title>E-Destinations</title>
        <link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body class="recycleBack" style="font-family: Roboto; ; background-position: center; background-repeat: no-repeat; background-size:a">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
              </button>
              <a class="navbar-brand" href={{ url_for('htn') }}>E-Destinations</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <!-- <li><a href="{{ url_for('about') }}">About</a></li> -->
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('recycle') }}">Recycle</a></li>
                <li><a href="{{ url_for('ewaste') }}">What is E-Waste?</a></li>
              </ul>
            </div>
          </div>
        </nav>

        <div class="row">
          <h1 class="col-sm-12" style="text-align: center; margin: 30px">An brief explaination. </h1>
              <div style="padding: 12px" style="text-align: center; margin: 20px">
                  <p style="text-align: center; font-size: 18px; margin-bottom: 10px;">The sad reality of E-Waste and it's disasterous effects.</p>
                  <p style="padding-left: 18px">E-Waste is a very unique threat to the world. Something so small, but so vital to our lives. Computer chips, cellphones, earbuds and more. In our ever-consuming culture, products have a smaller and smaller life time. A phone or computer is now outdated in a year. Apple releases new products almost twice a year.</p>
                  <p style="padding-left: 18px">The question is... where does it all go? Sadly, this isn't an answer you'd like to hear. Not a lot of people truly recognize what happens to their E-Waste, or recycling in general when it leaves their bin. In many cases, people leave their E-Waste by the curb to be pick up in the garbage letting the toxic chemicals such as lead and mercury slowly leak into the ground, distrubing, if not killing the soil. Few people recycle their E-Waste, but why?</p>
              </div>
        </div>
       
    </body>
</html>
